@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Syne+Tactile&display=swap');

:root {
    --primary-color: #DB2777;
    --secondary-color: #ec4899;
    --font-black: #2F323A;
}

.space-around-main {
    justify-content: space-around;
}

.space-evenly-main {
    justify-content: space-evenly;
}

.space-between-main {
    justify-content: space-between;
}

.center-main {
    justify-content: center;
}

.space-around-cross {
    align-content: space-around;
}

.space-evenly-cross {
    align-content: space-evenly;
}

.space-between-cross {
    align-content: space-between;
}

.center-cross {
    align-content: center;
}

.flex-end-item-cross {
    align-self: flex-end;
}

.no-style-link {
    text-decoration: none;
}

.gap {
    gap: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.nav-left {
    flex: 2 0 auto;
}

.nav-right {
    flex: 1 0 auto;
}

.nav-logo > a {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}


