body {
    font-family: 'Roboto', sans-serif;
    position: sticky;
    background-color: var(--light-gray);
}

.main {
    width: 20%;
    margin: auto;
    padding: 1rem 2rem;
    border: var(--border-gray) solid 1.5px;
    background-color: white;
}

.main-heading {
    font-size: 1.5rem;
    /* align-self: center; */
    font-weight: bold;
}

.sign-button {
    font-size: 1rem;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: white;
    border: gray solid 1px;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}

.sign-button-secondary {
    font-size: 1rem;
    border: var(--border-gray) solid 1px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.sign-up-container {
    align-content: center;
}

.form-check  {
    margin-bottom: 2rem;
}

.main-desc {
    font-size: 1.05rem;

}