/* basic grid layout for main content */
.main-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar products";
    gap: 5rem;
    height: 100vh;
}

/* sidebar-styling */
.sidebar {
    grid-area: sidebar;
    position: fixed;
    background-color: var(--light-gray);
    height: 100vh;
}

.sidebar-heading {
    font-size: 1.5rem;
}

.sidebar-name {
    font-size: 2rem;
    color: var(--primary-color);
    border-bottom: var(--border-gray) solid 3px;
}

.product-list {
    grid-area: products;
    flex-wrap: wrap;
    height: max-content;
}

label {
    font-size: 1.2rem;
    color: gray;
}

.dropdown-items {
    font-size: 1.2rem;
    color: gray;
}

.dropdown {
    font-size: 1.2rem;
    color: gray;
}

.card-container {
    position: relative;
    cursor: pointer;
}

.card-content {
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.card-heading {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.card-cart {
    flex: 3 0 0;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
}

.card-cart:hover {
    background-color: var(--secondary-color);
}

.card-wishlist {
    flex: 1 0 0;
    font-size: 1.5rem;
    color: var(--primary-color);
    height: 100%;
}

.card-badge {
    position: absolute;
    right: 0;
    top: 0.5rem;
    padding: 0.5rem;
    color: gray;
    font-weight: bold;
    background-color:#e0e7ff;
}

.card-rating-value {
    color: var(--secondary-color);
}




